
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employees Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
<script src="Controller.js"></script>
<link href='https://fonts.googleapis.com/css?family=Lobster'
	rel='stylesheet' type='text/css'>
<link rel="icon" href="Images/icon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="EmployeeManager">
	<div class="container ">
		<ul>
			<li><img src="Images/chicken-icon.png"></li>
			<li><h2>Employee Table</h2></li>
			<li><img src="Images/chicken-icon.png"></li>
		</ul>

		<div class="table-responsive" ng-controller="EmployeeController"
			ng-show="loadEmployees">

			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">ID</th>
						<th class="text-center">Name</th>
						<th class="text-center">Social ID</th>
						<th class="text-center">Department</th>
						<th class="text-center">Projects</th>
						<th class="text-center">Options</th>
					</tr>
					<div class="form-group" id="sh">
						<input type="text" id="inputsh" class="form-control"
							placeholder="Search by Id" ng-model="employee.employeeId">
					</div>
					<button type="submit" id="search" ng-click="findEmployee(employee)"
						class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</thead>
				<tbody>
					<tr class="info" ng-repeat="employee in employees">
						<td>{{ employee.employeeId }}</td>
						<td>{{ employee.employeeName }}</td>
						<td>{{ employee.department.departmentName }}</td>
						<td>{{ employee.socialId.sociaidType }}</td>
						<td ng-repeat="project in employee.projects">{{project.projectName}}</td>
						<td>
							<button class="btn btn-primary btn-small"
								data-toggle="modal" data-target="#Edit">Edit</button>
							<a ng-click="deleteEmployee(employee)"
							class="btn btn-small btn-danger">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		<button class="btn btn-success btn-small" data-toggle="modal"
			data-target="#Add" ng-click="insertEmployee(employee)">Add</button>
	</div>
</body>
<!--                   Edit                     -->
<!--                   Modal                    -->

<div class="modal fade" id="Edit" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<!--           Modal Header             -->

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Edit employee</h4>
			</div>
			<!--              Modal Body               -->
			<div class="modal-body">

				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.employeeName" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Social Id</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.socialId.sociaidType" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Department</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.department.departmentName" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Project</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.projects.projectName" />
						</div>
					</div>
				</form>
			</div>
			<!--                        Modal Footer         -->
			<div class="modal-footer">
				<a ng-click="editEmployee()"
					class="btn btn-small btn-success">Save changes</a>
			</div>
		</div>
	</div>
</div>



<!--                            Add                      -->
<div class="modal fade" id="Add" tabindex="1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--             Modal Header             -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add an employee</h4>
			</div>

			<!--              Modal Body           -->
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.employeeName" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">SocialId</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.socialId.sociaidType" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Department</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.department.departmentName" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Projects</label>
						<div class="col-sm-10">
							<input type="text" class="form-control"
								ng-model="employee.projects.projectName" />
						</div>
					</div>
				</form>
			</div>
			<!-- Modal Footer -->
			<div class="modal-footer">
				<a ng-click="saveEmployee()" class="btn btn-success">Add
					Employee</a>
			</div>
		</div>
	</div>
</div>
</html>
