@CHARSET "ISO-8859-1";

@font-face {
	font-family: "open sans";
	src: url("fonts/OpenSans-Regular.ttf");
}

.container {
	text-align: center;
	vertical-align:center;
	margin-top: 15px;
}

body ul li h2{
   font-family: 'Lobster', cursive;
}

ul li {
	list-style-type: none;
	display:inline-block;
	float:center;
	margin:0 auto;
	text-align:center;
}

body img{
	width:60px;
	height:60px;
}

#myModalLabel {
	text-align: center;
	vertical-align:middle;
}

.table{
	margin-top: 20px;
}
.table tr{
	padding: 5%;
}
.info td{
	padding-top: 0;
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

#sh{
	float:right;
}

#inputsh{
	
	width:200px;
	border-radius:20px;
	margin-bottom:-10px;
}
#search{
	float:right;
	border-radius:20px;
	outline:none;
}